.form
	margin auto
	padding-top 40px
	padding-right 21px
	padding-bottom 48px
	padding-left 22px
	// width 364px

	+r($t)
		padding-top 14px
		padding-bottom 14px
	+r($m)
		padding-left 0
		padding-right 0
		padding-bottom 18px
	&__title
		margin-bottom 10px
		font-size 24px
		line-height 1.2
		text-transform uppercase
		text-align center
		+r($m)
			margin-bottom 5px
			padding-left 5px
			padding-right 5px
			white-space normal


	&__field
		position relative
		margin-bottom 10px
	&__label
		position absolute
		top -54px
		left 0
		display none
		width 288px
		min-height 55px
		color #d54121
		font-size 18px
		line-height 45px
		text-align center
		background url('../images/general/validate-error.svg') 0 0 / cover no-repeat
		tr(all .2s ease)
	&__label_phone
		top -157px
	&__input
		border 1px solid #dddddd
		padding-top 13px
		padding-right 12px
		padding-bottom 8px
		padding-left 12px
		width 100%
		background-color #ffffff
		color #3f3f3f
		font-family $pfti
		font-size 14px
		border-radius 5px
		placeholder()
			color #8e9393
		&.ui-state-valid
			color #3f3f3f
		&.ui-state-error ~
			.form__label
				display block
		// &:focus +
		// 	.form__label
		// 		display none


		&__captcha
		margin-top 16px
		margin-bottom 9px
		text-align center
		overflow hidden
		transform-origin left top
		+r($m)
			margin-bottom 7px
			display none
		img
			max-width 100%
			height auto
			+r($m)
				display none
	&__captcha-w
		display inline-block


	&__submit
		@extends .button
		width 100%

.form_wide
	padding-bottom 0
	width 682px
	width ratio-percentage(682, 1170)
	+r($d)
		padding-left 0
		padding-right 0
		width auto
	.form__title
		margin-bottom 23px

	.form__w,
	.form__captcha
		margin-left 20px
		margin-left 2%
		display inline-block
		vertical-align middle
		width 300px
		+r($d)
			margin-left 0
			width 100%
			display block
	.form__w
		margin-left 0
	.form__submit
		margin 10px auto 0
		width 321px
		display block
		+r($m)
			width 100%
	.form__captcha
		position relative
		bottom 10px
		// margin-top 16px
		padding-top 16px
		+r($d-l)
			margin-left 0

span.wpcf7-not-valid-tip
	display none
.form
	.form__form
		text-align center
		.ajax-loader
			display none

@keyframes shake
	10%, 90%
		transform: translate3d(-1px, 0, 0);
	20%, 80%
		transform: translate3d(2px, 0, 0);
	30%, 50%, 70%
		transform: translate3d(-4px, 0, 0);
	40%, 60%
		transform: translate3d(4px, 0, 0);
