include ../form/form


mixin hero()
	section.hero
		.hero__in
			.hero__left
				h1.hero__title Приглашает на обучение на категории В, C, D и Е.
				.hero__text
					p Наш индивидуальный подход к каждому ученику гарантирует сдачу экзаменов в ГИБДД с  первого раза!

				.hero__links
					a.hero__link(href="#link") Обмен прав для СНГ
					a.hero__link(href="#link") Контакты

			.hero__register
				.hero__form
					+form-register()
