include ../form/form


mixin hero()
	section.hero#top
		.hero__in
			.hero__left
				h1.hero__title Приглашает на обучение на категории <span>В, C, D и Е.</span>
				.hero__text
					p Наш индивидуальный подход к каждому ученику гарантирует <br/>сдачу экзаменов <br/>в ГИБДД<br/> с  <span>первого раза!</span>
				.hero__links
					a.hero__link.hero__link_exchange(href="#exchange") Обмен прав для СНГ
					a.hero__link.hero__link_contacts(href="#contacts") Контакты
			.hero__register
				.hero__form#hero-form
					+form-register()
