.hero
	display block
	background transparent url('../images/content/hero-img.jpg') 50% calc(0% + 30px) no-repeat
	+r($t)
		background url('../images/content/hero-small-bg.jpg') 50% calc(0% + 60px) no-repeat
	+r($t-s)
		background url('../images/content/hero-small-bg.jpg') 50% calc(0% + 80px) no-repeat

	&__in
		@extends .in
		padding-top 34px
		padding-top 84px
		padding-bottom 30px
		font-size 26px
		clearfix()
		+r($t)
			padding-top 92px
		+r(560)
			padding-top 92px
		+r($m)
			padding-top 10px
			padding-top 96px

			padding-bottom 10px
	&__left
		float left
		width 440px
		width ratio-percentage(440, 1170)
		+r($t)
			width auto
			float none
	&__title
		margin-top 4px
		margin-bottom 30px
		padding-right 110px
		line-height 1.2
		+r($d-l)
			padding-right 0
		+r($m)
			padding-right 0
		+r($t)
			margin-bottom 220px
		span
			color #f26c4f
	&__text
		margin-bottom 78px
		padding-right 110px
		line-height 1.2
		+r($d-l)
			padding-right 0
		+r($t)
			margin-bottom 10px
		p
			margin-bottom 30px
			+r($t)
				margin-bottom 10px
			span
				color #f26c4f
				text-transform uppercase

	&__links
		font-size 0
		white-space nowrap
		+r($d)
			display none
	&__link
		position relative
		margin-left 68px
		display inline-block
		vertical-align top
		color #3f3f3f
		font-size 24px
		line-height 1.2
		text-decoration none
		overflow hidden
		+r($d)
			margin-left 34px
			display block
		&:first-child
			margin-left 0
		&:after
			position absolute
			top 50%
			left 0
			margin-top -13px
			content ""
		&:before
			position absolute
			bottom 0
			left 36px
			right 0
			width 100%
			content ""
			background transparent
			background linear-gradient(#f5f5f5, #f5f5f5) padding-box, repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em
			border-bottom 1px dashed transparent
		&:hover
			&:before
				background linear-gradient(#f5f5f5, #f5f5f5) padding-box, repeating-linear-gradient(-45deg, transparent 0, transparent 25%, transparent 0, transparent 50%) 0 / .6em .6em

	&__link_exchange
		padding-left 34px
		&:after
			retinaSprite($person_group)
	&__link_contacts
		padding-left 40px
		&:after
			retinaSprite($mail_group)
		&:before
			left 36px

	&__register
		float right
		width 370px
		width ratio-percentage(370, 1170)
		border-radius 5px
		border 3px solid #ffffff
		background-color rgba(255, 255, 255, 0.95)
		+r($t)
			float none
			width auto
	&__form
		position relative
		&:after
			position absolute
			z-index -1
			bottom -20px
			left 50%
			margin-left -141px
			width 282px
			height 46px
			background url('../images/general/shadow.png') 0 0 no-repeat
			content ""

	// &__form

