mixin map()
	.map
		.map__in
			.map__contacts.contacts
				.map__title Наши контакты
				.map__address.address г. Москва, Товарищеский пер., дом 3
				.map__phone +7 (499) 110-88-29
				button.map__button Перезвоните мне
		.map__area
