mixin map()
	.map
		.map__in
			.map__contacts.contacts
				.contacts__title Наши контакты
				.contacts__address.address г. Москва, Товарищеский пер., дом 3
				.contacts__phone.phone <span>+7 (499)</span> 110-88-29
				button.contacts__button Перезвоните мне
		.map__area-w
			.map__area#map
