mixin map()
	.map#contacts
		.map__in
			.map__contacts.contacts
				.contacts__w
					.contacts__title Наши контакты
					.contacts__address.address <b>г. Москва, Товарищеский пер., дом 3</b>
					.contacts__phone.phone <b><span>+7 (499)</span> 110-88-29</b>
					a.contacts__button(href='#hero-form') Перезвоните мне
		.map__area-w
			.map__area#map
