.popup
	position relative
	margin auto
	width 545px
	height 419px
	border-radius 5px
	background #FFF
	border 14px solid #258bcc
	text-align center
	+r($t)
		width auto
	&__w
		vcentery()
	&__title
		color #258bcc
		font-family $pfb
		font-size 36px
		text-transform uppercase
	&__text
		font-size 24px

