mixin exchange()
	section.exchange
		.exchange__in
			.exchange__content
				h2.exchange__title Обмен прав категории С, D, E для иностранцев
				p.exchange__text Российское водительское удостоверение через месяц!
				p.exchange__price Cтоимость - 10 000 рублей
