@font-face {
	font-family: 'BankGothicRUSSMedium';
	src: url('../fonts/bnk/hinted-subset-BankGothicRUSSMedium.woff2') format('woff2'),
		url('../fonts/bnk/hinted-subset-BankGothicRUSSMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFBeauSansPro-Light';
	src: url('../fonts/pf/hinted-subset-PFBeauSansPro-Light.woff2') format('woff2'),
		url('../fonts/pf/hinted-subset-PFBeauSansPro-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFBeauSansPro-Light';
	src: url('../fonts/pf/hinted-subset-PFBeauSansPro-Light.woff2') format('woff2'),
		url('../fonts/pf/hinted-subset-PFBeauSansPro-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFBeauSansPro-ThinItalic';
	src: url('../fonts/pf/hinted-subset-PFBeauSansPro-ThinItalic.woff2') format('woff2'),
		url('../fonts/pf/hinted-subset-PFBeauSansPro-ThinItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFBeauSansPro-Regular';
	src: url('../fonts/pf/hinted-subset-PFBeauSansPro-Regular.woff2') format('woff2'),
		url('../fonts/pf/hinted-subset-PFBeauSansPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFBeauSansPro-Bold';
	src: url('../fonts/pf/hinted-subset-PFBeauSansPro-Bold.woff2') format('woff2'),
		url('../fonts/pf/hinted-subset-PFBeauSansPro-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
