.tabs
	&__in
		@extends .in
	&__nav
		position relative
		z-index 1
		font-size 0
		white-space nowrap
	&__link
		position relative
		border 5px solid #f8f8f8
		margin-left 30px
		// padding 46px 11px 38px 110px
		padding 36px 11px 35px 110px

		// width 280px
		display inline-block
		vertical-align middle
		background-color #ffffff
		color #3f3f3f
		font-size 24px
		text-align right
		text-decoration none
		white-space nowrap
		border-radius 5px
		+r($d-l)
			margin-left 0
			display block
			text-align center
		+r($t)
			text-align center
		span
			font-family $pfb
			color #f26c4f
		&:hover
			text-decoration none
		&:first-child
			margin-left 0
		&:after
			vcentery()
			left 20px
			content ""
	&__link_active
		// padding 48px 11px 48px 110px
		padding 38px 11px 34px 110px
		border-color transparent
		background url('../images/general/cat-tab-active.png') 50% 0 / cover no-repeat
		color #fff
		text-decoration none
		+r($d-l)
			border 5px solid #ffffff
			background #F26C4F
		+r($m-l)
			border none
			padding 48px 11px 48px 80px
			background-color transparent
			background url('../images/general/cat-tab-active.png') 50% 0 / 100% 100% no-repeat

		span
			color #FFF
	&__link_cat-b
		&:after
			left 13px
			retinaSprite($cat_b_group)
			+r($t)
				left 13px
		&.tabs__link_active
			&:after
				retinaSprite($cat_b_active_group)
	&__link_cat-c
		&:after
			left 12px
			retinaSprite($cat_c_group)
		&.tabs__link_active
			&:after
				retinaSprite($cat_c_active_group)
	&__link_cat-d
		&:after
			retinaSprite($cat_d_group)
		&.tabs__link_active
			&:after
				retinaSprite($cat_d_active_group)
	&__link_cat-e
		&:after
			retinaSprite($cat_e_group)
		&.tabs__link_active
			&:after
				retinaSprite($cat_e_active_group)

	&__content
		margin-top -20px

	&__tab
		display none
	&__tab_active
		display block
		font-size 14px
		color #000
