.categories
	display block
	&__in
		@extends .in
		padding-top 82px
		padding-bottom 85px
		clearfix()
	&__category
		min-height 513px

	&__category_b
		background url('../images/content/cat-b-img.jpg') 50% 0 no-repeat
	&__category_c
		background url('../images/content/cat-c-img.jpg') 50% 0 no-repeat
	&__category_d
		background url('../images/content/cat-d-img.jpg') 50% 0 no-repeat
	&__category_e
		background url('../images/content/cat-e-img.jpg') 50% 0 no-repeat

	// &__content

	&__content_right
		float right
	&__content_left
		float left

	&__title

	&__list

	&__item

	&__duration
		strong
