mixin header()
	header.header
		.header__in
			a.header__logo.logo(href="#logo")
				span.logo__mos Мос
				span.logo__obl обл
				span.logo__trans транс

			nav.header__nav.nav.nav_top
				label.nav__trigger(for="nav-input") Меню
				input.nav__input#nav-input(type="checkbox")
				.nav__list-w
					ul.nav__list
						li.nav__item.nav__item-b
							a(href="#tab-1") Категория <span>B</span>
						li.nav__item.nav__item-c
							a(href="#tab-2") Категория <span>С</span>
						li.nav__item.nav__item-d
							a(href="#tab-3") Категория <span>D</span>
						li.nav__item.nav__item-e
							a(href="#tab-4") Категория <span>E</span>
						li.nav__item.nav__item-exchange
							a(href="#exchange") Обмен прав СНГ
						li.nav__item.nav__item-contacts
							a(href="#contacts") Контакты

			a.header__address.address(href="#contacts")
				span г. Москва, Товарищеский пер., дом 3
			a.header__phone.phone(href="tel:")
				span +7 (499)
				| 110-88-29
