mixin header()
	header.header
		.header__in
			a.header__logo.logo(href="#logo")
				span.logo__mos Мос
				span.logo__obl обл
				span.logo__trans транс

			a.header__address.address(href="#link")
				span г. Москва, Товарищеский пер., дом 3
			a.header__phone.phone(href="tel:")
				span +7 (499)
				| 110-88-29
