.header
	position fixed
	z-index 10
	top 0
	left 0
	width 100%
	display block
	border 1px solid #e2e6ed
	background rgba(255, 255, 255, .82)
	&__in
		@extends .in
		min-height 54px
		font-size 0
		+r($t-s)
			min-height 94px
			text-align center
	&__logo,
	&__address,
	&__phone
		display inline-block
		vertical-align top
		text-decoration none
		line-height 1
	&__logo
		margin-top -1px
		+r($t)
			margin-top 10px
			margin-left 56px
		+r($t)
			text-align left
			float left
		+r($t-s)
			float none
		+r(480)
			margin-left 0
		+r($m)
			margin-left 40px
	&__address
		margin-top 17px
		margin-left 115px
		margin-left ratio-percentage(115, 1170)
		+r($d-l)
			margin-left 30px
		+r($d)
			display none
	&__phone
		margin-top 12px
		float right
		+r($t)
			text-align right
		+r($t-s)
			margin-left 12px
			float none
			text-align left
		+r($m-l)
			margin-left 0
	&__nav
		position absolute
		top 54px
		left 10px
		z-index 0
		display none
		width 267px
		+r($t)
			display block

.logo
	width 342px
	color #3f3f3f
	font-family $l
	font-size 0
	line-height 1
	white-space nowrap
	text-transform uppercase
	+r($t)
		width auto
	&__mos,
	&__obl,
	&__trans
		display inline-block
		font-size 40px
		white-space nowrap
		text-transform uppercase
		+r($t)
			font-size 25px
			tr(all .2s ease)
		&::first-letter
			font-size 48px
			color #f26c4f
			+r($t)
				font-size 30px
.logo_style-sec
	color #FFF
	.logo__mos,
	.logo__obl,
	.logo__trans
		color #FFF
		+r($t)
			font-size 35px
		&::first-letter
			color #FFF
			+r($t)
				font-size 42px


.address
	position relative
	padding-left 20px
	color #3f3f3f
	font-size 18px
	line-height 1.2
	+r($m)
		text-align left
	span
		position relative
		padding-bottom 4px
		&:after
			position absolute
			top 100%
			left 0
			right 0
			width 100%
			content ""
			background transparent
			background linear-gradient(#f5f5f5, #f5f5f5) padding-box, repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / 1em .9em
			border-bottom 1px solid transparent
	&:hover
		span
			&:after
				background linear-gradient(#f5f5f5, #f5f4f5) padding-box, repeating-linear-gradient(-45deg, transparent 0, transparent 25%, transparent 0, transparent 50%) 0 / 1em .9em


	&:after
		position absolute
		top -3px
		left -2px
		width 16px
		height 16px
		background url('../images/general/marker.svg') 0 0 no-repeat
		content ''
		+r($m)
			top 0
	&:before
		position absolute
		bottom 4px
		left -1px
		width 14px
		height 2px
		background #f26c4f
		content ''
		+r($m)
			bottom 16px
.address_style-sec
	color #FFF
	+r($m)
		font-size 16px
		padding-left 22px
	&:after
		background url('../images/general/marker-sec.svg') 0 0 no-repeat
		+r($m)
			top 2px
			left 8px
			width 12px
	&:before
		background #FFF
		+r($m)
			bottom 1px
			left 8px
			width 10px
.phone
	position relative
	padding-left 25px
	display inline-block
	font-family $pfl
	font-size 28px
	color #3f3f3f
	tr(all .2s ease)
	+r($t)
		font-size 24px
	span
		padding-right 6px
		color #f26c4f
	&:after
		position absolute
		top 50%
		left 0
		margin-top -9px
		width 18px
		height 18px
		background url('../images/general/phone.svg') 0 0 no-repeat
		content ""

.phone_style-sec
	color #FFF
	text-decoration none
	font-size 28px
	&:after
		background url('../images/general/phone-sec.svg') 0 0 no-repeat
