mixin footer()
	.footer
		.footer__in
			.footer__row
				a.footer__logo.logo.logo_style-sec(href="#logo")
					span.logo__mos Мос
					span.logo__obl обл
					span.logo__trans транс

				nav.footer__nav
					ul.footer__list
						li.footer__item
							a(href="#link") Link 1
						li.footer__item
							a(href="#link") Link 2
						li.footer__item
							a(href="#link") Link 3
						li.footer__item
							a(href="#link") Link 4
						li.footer__item
							a(href="#link") Link 5
						li.footer__item
							a(href="#link") Link 6
			.footer__row
				a.footer__phone.phone.phone_style-sec(href="tel:") +7 (499) 110-88-29
				.footer__address.address.address_style-sec г. Москва, Товарищеский пер., дом 3
				.footer__copyright &copy; 2017. Все права защищены
