.footer
	position relative
	// z-index 1
	display block
	background-color #258bcc
	&__in
		@extends .in
		padding-top 33px
		padding-bottom 40px
		min-height 163px
		+r($m)
			padding-top 10px
			padding-bottom 10px
	&__row
		margin-bottom 15px
		clearfix()
		+r($m)
			margin-bottom 6px
			text-align center

	&__logo,
	&__nav,
	&__phone,
	&__address,
	&__copyright
		display inline-block
		vertical-align middle
		color #FFF
		+r($d)
			display block
			text-align left
		+r($m)
			text-align center
	&__logo
		line-height 1
	&__nav
		margin-top 15px
		float right
		+r($d-l)
			float none
		+($m)
			margin-top 10px
	&__phone
		margin-top -10px
		margin-left 35px
		+r($d-l)
			margin-left 0
			line-height 1.2
		+r($t)
			margin-top 0
			margin-left 0
			margin-bottom 20px
			font-size 28px
		+r($m)
			margin-bottom 11px
	&__address
		margin-left 128px
		+r($d)
			margin-left 0
			line-height 1.2
		+r($t)
			margin-left 0
			margin-bottom 10px
		+r($m)
			font-size 16px

	&__copyright
		margin-top 5px
		margin-right 5px
		float right
		font-size 18px
		+r($d)
			float none
		+r($t)
			margin-right 0
			float none
		+r($m)
			margin-top 12px
			text-align center
