mixin footer()
	footer.footer
		.footer__in
			.footer__row
				a.footer__logo.logo.logo_style-sec(href="#logo")
					span.logo__mos Мос
					span.logo__obl обл
					span.logo__trans транс

				nav.footer__nav.nav.nav_bottom
					ul.nav__list
						li.nav__item
							a(href="#link") Категория B
						li.nav__item
							a(href="#link") Категория С
						li.nav__item
							a(href="#link") Категория D
						li.nav__item
							a(href="#link") Категория E
						li.nav__item
							a(href="#link") Обмен прав СНГ
						li.nav__item
							a(href="#link") Контакты
			.footer__row
				a.footer__phone.phone.phone_style-sec(href="tel:") +7 (499) 110-88-29
				.footer__address.address.address_style-sec г. Москва, Товарищеский пер., дом 3
				.footer__copyright &copy; 2017. Все права защищены
