mixin footer()
	footer.footer
		.footer__in
			.footer__row
				a.footer__logo.logo.logo_style-sec(href="#top")
					span.logo__mos Мос
					span.logo__obl обл
					span.logo__trans транс

				nav.footer__nav.nav.nav_bottom
					ul.nav__list
						li.nav__item.nav__item_cat-b
							a(href="#tab-1") Категория B
						li.nav__item.nav__item_cat-c
							a(href="#tab-2") Категория С
						li.nav__item.nav__item_cat-d
							a(href="#tab-3") Категория D
						li.nav__item.nav__item_cat-e
							a(href="#tab-4") Категория E
						li.nav__item.nav__item_exchange
							a(href="#exchange") Обмен прав СНГ
						li.nav__item.nav__item_contacts
							a(href="#contacts") Контакты
			.footer__row
				a.footer__phone.phone.phone_style-sec(href="tel:") +7 (499) 110-88-29
				.footer__address.address.address_style-sec г. Москва, Товарищеский пер., дом 3
				.footer__copyright &copy; 2017. Все права защищены
